/*
Html By Azer, Copyright 2012 Azer CMS. All Rights Reserved.
Style Version: ACMS V3.0
*/

body
{
  background:#efefef url(../images/background.png) center top;
  background-repeat:repeat-y;
  margin:0px;
  font-family:Arial;
}

.head
{
  min-width:1000px;
  height:142px;
  background:url(../images/head.png);
  background-repeat:repeat-x;
  margin:0px auto;
}

.hsp
{
  width:1000px;
  margin:0px auto;
  padding:15px;
}

.logo
{
  width:212px;
  height:44px;
  background:url(../images/logo.png) no-repeat;
  display:inline;
  margin-top:34px;
  cursor:pointer;
  float:left;
}

.panel
{
  width:277px;
  height:85px;
  background:url(../images/panel.png) no-repeat;
  display:inline-block;
  vertical-align:top;
  float:right;
  margin-right:185px;
  color:#333134;
  font-size:12px;
  font-weight:bold;
}

.avatar
{
  width:70px;
  height:68px;
  background:url(../images/avatar.png);
  display:inline;
  vertical-align:top;
  float:right;
  margin:8px 15px 0px 0px;
}

.panel a
{
  color:#333134;
  text-decoration:none;
}

.panel a:hover
{
  text-decoration:underline;
}

.psp
{
  display:inline;
  float:left;
  margin:8px 0px 0px 15px;
}

.menu
{
  min-width:1001px;
  height:47px;
  background:url(../images/menu.png);
  margin:0px auto;
  overflow:hidden;
}

.menu ul
{
  width:1001px;
  height:49px;
  list-style:none;
  margin:0px auto;
  padding:0px;
}

.menu ul li
{
  width:151px;
  height:49px;
  margin:-2px 0px 0px -1px;
  float:left;
}

.menu ul li a
{
  width:151px;
  height:49px;
  background:url(../images/buttons/menu-button.png) no-repeat;
  display:inline-block;
  color:#3c3a3d;
  font-weight:bold;
  font-size:12px;
  text-decoration:none;
  padding-top:16px;
  text-align:center;
  float:left;
  z-index:101;
}

.menu ul li a:hover
{
  background:url(../images/buttons/menu-button-hover.png) no-repeat;
}

.menu ul li#lhm
{
  width:99px;
  height:56px;
  background:url(../images/buttons/home.png);
  display:inline;
  vertical-align:top;
  position:absolute;
  margin-top:-9px;
  cursor:pointer;
  margin-left:1px;
}

.menu ul li#lhm:hover
{
  background:url(../images/buttons/home-hover.png);
}

.sub-menu
{
  width:1000px;
  height:25px;
  background:url(../images/sub-menu.png);
  margin:0px auto;
  position:relative;
}

.menu ul li ul li
{
  display:none;
}

.menu ul li:hover ul li
{
  width:auto;
  height:25px;
  display:block;
  position:absolute;
  padding-left:2px;
  margin-top:49px;
  padding-top:5px;
  z-index:100;
  font-size:12px;
}

.sml
{
  cursor:pointer;
  padding:0px 8px 0px 8px;
}

.sml:hover
{
  text-decoration:underline;
}

.wrapper
{
  width:950px;
  margin:15px auto;
}

.content-header
{
  width:950px;
  height:32px;
  background:url(../images/content-header.png);
}

.content-body
{
  width:950px;
  min-height:100px;
  max-height:auto;
  background:url(../images/content-body.png);
}

.content-footer
{
  width:950px;
  height:22px;
  background:url(../images/content-footer.png);
  margin-bottom:10px;
}

.chs
{
  color:#efefef;
  font-size:12px;
  font-weight:bold;
  padding:9px 10px;
}

.chs a
{
  color:#efefef;
  text-decoration:none;
}

.chs a:hover
{
  color:#efefef;
  text-decoration:underline;
}

.cbs
{
  color:#333134;
  font-size:12px;
  padding:10px;
}

.cbs a
{
  color:#333134;
  text-decoration:none;
}

.cbs a:hover
{
  text-decoration:underline;
}

.cbsl
{
  color:#333134;
  font-size:12px;
  padding:0px 1px 1px 1px;
}

.cbsl a
{
  color:#333134;
  text-decoration:none;
}

.cbsl a:hover
{
  text-decoration:underline;
}

.ltbl
{
  width:100%;
  margin:0px auto;
}

.ltbl tr#head
{
  font-weight:bold;
  text-align:center;
}

.ltbl tr
{
  text-align:center;
}

.ltbl tr td
{
  text-align:center;
}

.mc
{
  min-height:30px;
  max-height:auto;
  width:100%;
  border-top:1px solid white;
  border-bottom:1px solid #9a9a9a;
  /*border-left:1px solid #bcbcbc;
  border-right:1px solid #bcbcbc;*/
}

.mc:hover
{
  background:#cbcbcb;
}

.mc-space
{
  padding:5px;
}

.ltlb tr td
{
  padding:2px;
}

.nmis
{
  width:750px;
  color:#333134;
}

.nmis:focus
{
  outline:none;
}

.nmit
{
  min-height:25px;
  max-height:25px;
  min-width:820px;
  max-width:820px;
  padding:0px;
  margin:0px;
  color:#333134;
}

.nmit:focus
{
  outline:none;
}

.nmib
{
  min-height:300px;
  min-width:820px;
  max-width:820px;
  padding:0px;
  margin:0px;
  color:#333134;
}

.nmib:focus
{
  outline:none;
}

.fsa
{
  min-width:50px;
  max-width:50px;
}

.fsb
{
  min-width:100px;
  max-width:100px;
}

.fsc
{
  min-width:350px;
  max-width:350px;
}

.tblg
{
  width:100%;
  margin:0px auto;
  margin-left:10px;
}

.tblg tr#head
{
  font-weight:bold;
  text-align:center;
}

.tblg tr
{
  text-align:left;
}

.tblg tr td
{
  text-align:left;
}

.tblg input[type=text]
{
  min-width:200px;
  max-width:200px;
}

.tblg select
{
  min-width:200px;
  max-width:200px;
}